/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Set common styles for WaterMeter component */
.WaterMeter {
    height: 100%;
}

.Content {
    display: flex;
    height: 100%;
}

/* Header styles */
.Header {
    background-color: #333;
    

    text-align: center;
}



/* Main container styles */
.MainContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
}

/* Box styles */
.Boxes {
    display: flex;
    flex-wrap: wrap;
}

.Boxes1 {
    display: flex;
   
   
}
.box-2{
    height: 12vh;
}
.box-3{
    height: 32vh;
}

.drop-down {
    height: 5vh;
}

.Details, .maxMeter, .Graph {
    flex: 1;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shadow1{
    box-shadow: inset 0px 4px 4px 0px rgba(11, 112, 128, 1);
}
/* ... */

.drop-down {
    position: relative;
    cursor: pointer;

  }
  
  .select {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    gap: 20px;
  }
  .table-container{
    height: 26vh;
  }
  
  /* ... */
  .progress-container1 {
	width: 100%;
	height: 5px;
	background-color: #ccc;
    margin-top: 1px;
  }
  
  .progress-bar2{
	width: 50%; /* Change this value to control the progress */
	height: 100%;
	background-color: #458cd8;
  }
  .meter_water_name{
    background: #121FCF;
    background: radial-gradient(circle farthest-corner at bottom center, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

 
  .normal_box:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
    background-color:rgb(212, 209, 209);
    color: rgb(0, 149, 255);
  }



/****AbNoraml Popup conatiner ******/

.popup-container {
    position: fixed;
    top: 35%;

    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 45vh;
    height: 25vh;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .scroll {
    max-height: 80vh;
    overflow: auto;
  }
  
  .popup-container h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .popup-container button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease-in-out;
  }
  
  .popup-container button:hover {
    background-color: #ddd;
  }
  








  .popup-container {
    position: fixed;
    top: 35%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 45vh;
    height: 25vh;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .popup-container h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .popup-container button {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
 

.close_btn{
  
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;

    transition: background-color 0.3s ease-in-out;
}
.close_btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);

 
  }









/* Responsive design */
/* Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .Boxes {
        flex-direction: column;
    }
    
    .Boxes1 {
        height: auto;
    }
    
    .drop-down {
        height: 3vh;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .Boxes {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .Boxes1 {
        height: 20vh;
    }
    
    /* Additional styles as needed */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .Boxes {
        flex-basis: 33.33%;
    }
    
    .Boxes1 {
        height: 30vh;
    }
    
    /* Additional styles as needed */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Additional styles as needed */
}

