/* Footer.css */
/* Footer.css */
.footer-container {
    background-color: #293241;
    color: #eeeeee;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #f3a712;
    animation: heartbeat 1.5s infinite;
    margin-top: -30px;
  }
  
  .footer-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  /* Rest of your styling... */
  
  body{
    overflow: hidden;
  }
  
 
 
  
  .footer-link {
    color: #eeeeee;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #f3a712;
  }
  
  .footer-text {
    margin-top: 20px;
  }
  
  .footer-social {
    margin-top: 20px;
  }
  
  .social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #eeeeee;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #f3a712;
  }
  