@tailwind base;
@tailwind components;
@tailwind utilities;
/* Base styles for both light and dark themes */
body {
  transition: background-color 0.3s ease;
}

/* Dark theme styles */
body.dark {
  background-color: rgb(19, 18, 18);
  color: #f9fafb;
}

/* Light theme styles (optional) */
body:not(.dark) {
  background-color: #f9fafb;
  color: #141414;
}

.dark-mode{
	background-color: #212121;
	color: #bbc4cc;
	
}







/****/




.weatherIcon {
	display: inline-block;
	font-family: Helvetica, sans-serif;
	/* Redefine this font size if resizing height & width */
	font-size: 1em;
	height: 100px;
	line-height: 1em;
	margin: 2%;
	position: relative;
	width: 100px;
}
.weatherIcon:before, .weatherIcon:after {
	content: "";
	height: inherit;
	left: 0;
	top: 0;
	width: inherit;
}
.weatherIcon > div:before, .weatherIcon > div:after,
.weatherIcon .inner:before, .weatherIcon .inner:after {
	content: "";
	letter-spacing: 0;
	position: absolute;
}


/*** Mostly Cloudy/Partly Sunny ***/
.mostlycloudy,
.partlysunny {
	background: #FFD632;
	height: 80%;
	margin-left: 48.5%;
	top: 0;
	width: 0.2em;
}
.mostlycloudy:before, .partlysunny:before {
	background: #FFD632;
	left: 0;
	top: 48.5%;
	width: 100%;
	height: 0.2em;
}
.mostlycloudy > .inner:before, .partlysunny > .inner:before {
	border-bottom: 0.2em solid #FFD632;
	border-left: 0.2em solid #FFD632;
	height: 80%;
	left: 8%;
	top: -48.5%;
	transform: rotate(-45deg);
	width: 80%;
}
.mostlycloudy > .inner, .partlysunny > .inner {
	background: #FFD632;
	border-radius: 50%;
	height: 60%;
	left: 20%;
	position: absolute;
	top: 20%;
	width: 60%;
}
.mostlycloudy > .inner:after, .partlysunny > .inner:after {
	background: #fff;
	border-radius: 50%;
	bottom: -33%;
	height: 82%;
	right: -34%;
	width: 90%;
}
.mostlycloudy:after, .partlysunny:after {
	background: #fff;
	border-radius: 50%;
	bottom: 0%;
	height: 63%;
	left: 0;
	width: 70%;
}



.imgage{
width: 100vh;
}
.prev,
.next {
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 0.3s;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #f7f7f7;

  }
  


  /* Update the background color for dark mode */
.dark-body {
	background-color: #121212;
	color: #ffffff;
  }
  
  /* Update table row background color for dark mode */
  .dark-body table tbody tr {
	background-color: #1f1f1f;
  }
  .dark-body table th {
	background-color: #1f1f1f;
	color: #ffffff;
  }





  /* Style for the table container */
  .table-container {
	width: 100%;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	height: 18vh; /* Fixed height for the scrollable area */
  }
  
  /* Style for the table */
  table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	color:rgb(12, 129, 158);
  }
  
  /* Style for table header */
  th {
	background-color: #f5f5f5;
	text-align: left;
	padding: 12px;
  }
  
  /* Style for table cells */
  td {
	padding: 12px;
	border-bottom: 1px solid #f0f0f0;
  }
  
  /* Style for odd rows */
  tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
  }
  
  /* Style for table header and first column */
  th,
  td:first-child {
	padding-left: 20px;
  }
  
  /* Style for the scrollable area */
  .table-scroll {
	max-height: 100%; /* Adjusted to take full available height */
	overflow: auto;
	padding-right: 10px; /* Add some padding to prevent scrollbar overlapping content */
  }
  
  /* Style for custom scrollbar */
  .table-scroll::-webkit-scrollbar {
	width: 10px;
  }
  
  .table-scroll::-webkit-scrollbar-thumb {
	background-color: rgb(0, 102, 255); /* Color of the scrollbar thumb */
	border-radius: 5px;
  }
  
  .table-scroll::-webkit-scrollbar-track {
	background-color: #f5f5f5; /* Color of the scrollbar track */
  }
  


/****css for search dashboard******/
.box-1{
	width: 40vh;
	height: 25vh;
}
.box-2{
	width: 54vh;
	height: 20vh;
}
.table-box{
	height: 60vh;

}

.table-container1 {
	width: 100%;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	height: 60vh; /* Fixed height for the scrollable area */
  }



  .body-camera{
	width :88vw ;
	height: 87vh;
  }
  body{
	width: 100%;
	height: 100%;
  }

 .body-camera{
	width: 100wh;
	
 }

 .dashboard-graph{
	width: 120vh;
	height: 60vh;
 }
 .zone-camera-details{
	width: 58vh;
	height: 60vh;
 }


 .cameralogs-table{
	width: 120vh;
	height: 25vh;
 }
 .cameralogs_zone_deatils{
	width:  58vh;
	
 }






 /**********sensorLogs Dashboard *****************/
/* Default styles */
.sensor_Logs_dashboard {
	width: 180vh;
  }
  
  .temp-graph {
	width: 170vh;
	height: 40vh;
  }
  
.parents{
width: 170vh;

}